@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";


.our_solutions_area {
  padding-top: 100px;
}

.our_solutions_item {
  text-align: center;
  padding: 16px 8px;
  border-radius: 12px;
  border: 1px solid rgba(19, 81, 216, 0.08);

  .icon {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    margin-bottom: 24px;
  }

  .text {
    .title {
      @include font(20px, 600);
      color: $black;
      margin-bottom: 10px;
      line-height: 32px
    }

    .subtitle {
      @include font(16px, 500);
      color: $paragraph;
      line-height: 24px;
    }
  }
}