@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

.contact_area {
  padding-top: 100px;

  .contact_info {
    .title {
      @include font(32px, 600);
      line-height: 40px;
      margin-bottom: 16px;
      color: $black;
    }

    .des {
      @include font(16px, 400);
      color: #4F5B78;
      margin-bottom: 32px;
    }

    .contact_info_main {
      ul {
        li+li {
          margin-top: 40px;
        }

        li {
          display: flex;
          align-items: center;
          gap: 16px;

          .icon {
            flex: 0 0 auto;
          }
          .info{
            .title{
              color: $black;
              @include font(18px, 500);
              line-height: 20px;
              margin-bottom: 8px;
            }
            p{
              color: #4F5B78;
              @include font(14px, 400);
              line-height: 20px;
            }
          }
        }
      }
      .maps{
        border-radius: 8px;
        overflow: hidden;
        width: 385px;
        height: 275px;
        margin-top: 48px;
        iframe{
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .contact_form {
    background-color: #F8F8F8;
    padding: 24px 40px;
    border-radius: 16px;

    .title {
      @include font(32px, 600);
      line-height: 40px;
      margin-bottom: 24px;
      color: $black;
    }

    .input_groups {
      label {
        @include font(16px, 500);
        color: $black;
        line-height: 24px;
        margin-bottom: 8px;
      }

      input {
        width: 100%;
        height: 56px;
        background-color: $white;
        padding: 0 16px;
        border: 1px solid rgba(146, 146, 146, 0.2);
        border-radius: 8px;
      }

      textarea {
        width: 100%;
        background-color: $white;
        padding: 16px;
        border: 1px solid rgba(146, 146, 146, 0.2);
        border-radius: 8px;
      }
    }

    .submit {
      background-color: $primary;
      color: $white;
      @include font(18px, 600);
      border-radius: 43px;
      padding: 14px 32px;
      border: 0;
      margin-top: 21px;

      &:hover {
        background-color: $black;
      }

      svg {
        stroke: $white;
        margin-right: 8px;
        position: relative;
        top:-2px;
      }
    }
  }
}